.test {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__topbar {
    display: flex;
    align-items: center;
    padding: var(--space);
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
  }

  &__wrapper {
    padding: var(--space);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__answer {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: var(--space);
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 var(--dark-grey);
    flex: 1;
    font-weight: var(--font-weight-normal);
    span {
      flex: 1;
    }
    input {
      flex: 0 0 24px;
    }
  }
}