@import "../../Scss/mixins";
.test {
  display: flex;
  width: 100%;
  padding-top: var(--space);
  flex-direction: column;

  @include respond-to(medium) {
    flex-direction: row;
  }

  &__topbar {
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    padding: var(--space);

    &--action {
      margin-left: auto;
    }
  }

  &__aside {
    padding: 0 var(--space);

    @include respond-to(medium) {
      width: 33%;
    }
  }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space);
      margin: 0;
      padding: 0;

      @include respond-to(medium) {
        .container {
          display: grid;
          grid-auto-flow: column;
          grid-template-rows: repeat(auto-fill, minmax(16px, auto));
          justify-content: start;
          gap: 10px;
          width: auto;
          height: 100%;
          overflow: hidden;
        }

      }
    }

      &__indicator {
        position: relative;
        display: flex;
        padding-left: 10px;
        width: 50px;
        text-align: center;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-bold);

        &--current {
          .test__indicator__qnumber {
            background-color: blue;
          }
        }
          &--incorrect {
            .test__answered {
              background-color: red;
              color: white;
            }
          }

          &--correct {
            .test__answered {
              background-color: green;
              color: white;
            }
          }

        &::before {
          content: "";
          position: absolute;
          inset: 0 auto 0 0;
          width: 10px;
          background-color: black;
        }

        &__qnumber {
          background-color: var(--dark-grey);
          color: white;
          flex: 1;
        }
      }

    &__answered {
      display: block;
      border: 1px solid var(--dark-grey);
      background-color: white;
      margin-left: auto;
      width: 16px;
      color: black;
      text-align: center;

      &--correct {
        background-color: var(--color-success-light);
        color: var(--color-success);
        label {
          color: var(--color-success);
        }
      }

      &--incorrect {
        background-color: var(--color-error-light);
        color: var(--color-error);
        label {
          color: var(--color-error);
        }
      }

      &--actual {
        background-color: var(--color-aesa-light-blue);
        color: var(--color-aesa-blue);
        label {
          color: var(--color-aesa-blue);
        }
      }
    }

  &__main {
    border: 1px solid var(--light-grey);
    padding: var(--space);
    flex: 1;
  }

    &__navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--unit);
    }

    &__currentquestion {
      &__title {
        display: flex;
        padding: var(--space);
        margin: 0;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-18);
        background-color: var(--color-aesa-dark-yellow);
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
      }
        &__number {
          display: inline-block;
          color: blue;
          padding: 0 16px 0 0;
          font-size: var(--font-size-32);
        }

      &__answers {
        background-color: var(--color-aesa-yellow);
        padding: var(--space) 0;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
      }

        &__answer {
          border-bottom: 1px solid var(--border-color);
          margin-bottom: var(--unit);

          &__letter {
            min-width: 13px;
          }

          label {
            display: flex;
            align-items: center;
            margin: 0;
            cursor: pointer;

            input {
              max-width: 16px;
              margin-right: 12px;
              margin: 0 var(--unit);
            }
          }
        }
    }

  &__details {
    margin: var(--space-big) auto;
    max-width: var(--block-small);

    summary {
      text-align: center;
      border-top: 2px solid blue;
      font-weight: var(--font-weight-bold);
    }
  }
}

