.test {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__topbar {
    display: flex;
    align-items: center;
    padding: var(--space);
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
  }

  &__button {
    margin-top: auto;
  }

  &__wrapper {
    padding: var(--space);
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__answer {
    padding: var(--space);
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px 0 var(--dark-grey);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--margin-bottom);
    span {
      flex: 1;
    }
    input {
      flex: 0 0 24px;
    }
  }
}