.topbar {
  display: flex;
  align-items: center;
  padding: var(--space);
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;

  &__last {
    margin-left: auto;
  }

  .btn--aslink {
    color: white;
    &:hover {
      color: white;
    }
  }
}