@import "../../Scss/mixins";

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  list-style-type: none;
  padding: var(--space);
  margin: 0 0 var(--space-big);

  &__item {
    position: relative;
    flex: 0 0 calc(32% - (var(--space) * 2 ));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    padding: var(--space);
    border-radius: var(--border-radius);
    border-top: 1px solid var(--color-bg-cat);
    // box-shadow: 0 2px 0px -1px var(--color-bg-cat);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);

    @include respond-to(medium) {
      flex: 0 0 calc(20% - (var(--space) * 2 ));
    }
  }

  &__title {
    font-family: var(--font-family);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-normal);
    padding-right: 60px;
    flex: 1;
  }

    &__body {
      display: flex;
      width: 100%;
    }

      &__rating {
        margin: 0;
        font-size: var(--font-size-32);
        font-weight: var(--font-weight-bold);
        margin-right: auto;
      }

        &__percent {
          color: var(--mute-color);
          font-weight: var(--font-weight-light);
        }
  &__overview {
    display: flex;
    width: 100%;
    margin-top: auto;

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}