/* Custom Properties */

:root {
  /* Colors */
  --bg-color: hsl(208, 18%, 14%);

  /* Category Colors */
  --color-cat-air-law: hsl(348, 100%, 61%);
  --color-cat-human-factors: hsl(30, 100%, 60%);
  --color-cat-meteorology: hsl(240, 100%, 50%);
  --color-cat-communications: hsl(120, 100%, 25%);
  --color-cat-navigation: hsl(270, 100%, 75%);
  --color-cat-principles-of-flight: hsl(210, 100%, 60%);
  --color-cat-flight-operations: hsl(0, 0%, 75%);
  --color-cat-general-knowledge: hsl(60, 100%, 50%);
  --color-cat-operational-procedures: hsl(200, 100%, 30%);
  --color-cat-performance-and-planning: hsl(300, 100%, 25%);



  /* Font properties */

  --font-family: 'Lato', sans-serif;
  --fontfamily-heads: 'Montserrat', sans-serif;
}

html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: white;
}

h1, .h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontfamily-heads);
}