button, .btn {
  padding: var(--unit) var(--space);
  border: none;
  border: 1px solid var(--sunset);
  background-color: transparent;
  color: var(--sunset);
  font-size: var(--font-size-16);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: #fff;
  }

  &--aslink {
    display: inline-block;
    text-decoration: underline;
    text-transform: none;
    background-color:  transparent;
    outline: none;
    color: var(--text-color);
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  &--cta {
    background-color: var(--sunset);
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}


button:hover {
  background-color: var(--orange);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


