/* Estilos para las etiquetas de los campos de formulario */

@import "../Scss/mixins";

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  background-image: url("/img/ppl-tests.jpg");
  background-size: cover;
  border-radius: var(--border-radius);
  padding: var(--space);
  position: relative;
  color: white;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(20, 70, 80, 0.2);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0.8) 0%, rgba(2,0,36,0.8) 100%);
    z-index: 0;
  }

  @include respond-to(medium) {
    @include center-content;
  }

  // This may need scalability XOXO
  form {
    position: relative;
    z-index: 1;
    max-width: 350px;

    label {
      color: white;
    }
  }

  h1, h2 {
    color: white;
    position: relative;
    z-index: 1;
  }
}
label {
  position: relative;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

/* Estilos para los campos de formulario */
input {
  width: 100%;
  padding: var(--space) var(--space) ; /* Añade relleno vertical */
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: var(--margin-bottom);
  font-size: var(--font-size-20);
}

/* Estilos para los campos de formulario cuando están enfocados */
input:focus {
  outline: none;
  border-bottom: 2px solid #3f51b5; /* Color azul de Material Design */
}

input:checked {
  background-color: red;
}

textarea {
  display: block;
  width: 100%;
  min-height: 110px;
}