/* Estilos para las etiquetas de los campos de formulario */

@import "../Scss/mixins";

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--space);
  position: relative;

  @include respond-to(medium) {
    @include center-content;
  }

  // This may need scalability XOXO
  form {
    position: relative;
    z-index: 1;
    max-width: 650px;

  }

  h1, h2 {
    position: relative;
    z-index: 1;
  }
}
label {
  position: relative;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
}

/* Estilos para los campos de formulario */
input {
  appearance: none;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-color);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-property: box-shadow, color, border-color;
    color: rgb(42, 48, 57);
    width: 100%;
    height: var(--space-40);
    line-height: var(--space-40);
    padding: 0px 20px;
    font-size: 16px;
    margin: var(--unit) 0 var(--space);
  }
}

/* Estilos para los campos de formulario cuando están enfocados */
input:focus {
  outline: none;
}

input:checked {
  background-color: red;
}

textarea {
  display: block;
  width: 100%;
  min-height: 110px;
}