table {
  width: 100%;
  border-collapse : collapse;
  border-spacing : 0;
  text-align: left;

}
th {
  padding: 12px 6px;
}

tr {
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--grey);
  }
}

td {
  padding: var(--unit) var(--space);
}