.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.font-family {
  font-family: var(--font-family);
}

.font-size-12 {
  font-size: var(--font-size-12);
}

.font-size-32 {
  font-size: var(--font-size-32);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}



.margin-bottom {
  margin-bottom: var(--space);
}



.ui-block {
  background-color: var(--white);
  padding: var(--space);
}

//-----> Pills
.pill {
  display: inline-block;
  padding: 0 var(--space-big);
  line-height: 1.5;
  height: 1.6em;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-bg-pill, var(--black));
  color: white;
  border-radius: 100px;
}


//-----> Alerts

.alert {
  position: relative;
  padding: var(--space);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100%;

  &--success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }

  &--warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }

  &--danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }

  &--icon {
    &--success {
      color: var(--green);
    }

    &--warning {
      color: #664d03;
    }

    &--danger {
      color: var(--red);
    }
  }
}


//-----> Pills

.pill {
  font-size: var(--font-size-12);
  line-height: 1.4;
  padding: 0 var(--unit);
  border-radius: 1em;
  border: none;
  outline: none;
  background: var(--secondary-color);
  cursor: pointer;
}

.t-align-center {
  text-align: center;
}