.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.font-family {
  font-family: var(--font-family);
}

.link-high {
  text-transform: uppercase;
}

.ui-block {
  background-color: var(--white);
  padding: var(--space);
}

//-----> Pills
.pill {
  display: inline-block;
  padding: 0 var(--space-big);
  line-height: 1.5;
  height: 1.6em;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-bg-pill, var(--black));
  color: white;
  border-radius: 100px;
}