:root {
  // Colors
  --black: hsl(208, 18%, 14%);
  --grey: hsl(230, 16%, 93%);
  --light-grey: hsl(0, 0%, 95%);
  --dark-grey: hsl(0, 0%, 50%);
  --white: white;
  --sky: hsl(210, 100%, 20%);
  --sky-tint: hsl(210, 30%, 80%);
  --sunset: hsl(24, 100%, 50%);
  --red: hsl(0, 100%, 50%);
  --orange: hsl(30, 100%, 50%);
  --yellow: hsl(60, 100%, 50%);
  --green: hsl(120, 100%, 50%);


  --main-color: var(--sky);
  --secondary-color: var(--sunset);
  --bg-color: var(--light-grey);
  --bg-color-light: var(--grey);
  --text-color: var(--black);
  --link-color: var(--blue);
  --border-color: var(--grey);

  --color-score-failed: var(--red);
  --color-score-passed: var(--orange);
  --color-score-excellent: var(--yellow);
  --color-score-outstanding: var(--green);

  // Category Colors
  --color-cat-1: hsl(348, 100%, 50%);
  --color-cat-1-t: hsl(348, 50%, 33%);
  --color-cat-2: hsl(30, 100%, 50%);
  --color-cat-2-t: hsl(30, 50%, 33%);
  --color-cat-3: hsl(240, 100%, 50%);
  --color-cat-3-t: hsl(240, 50%, 33%);
  --color-cat-4: hsl(120, 100%, 50%);
  --color-cat-4-t: hsl(120, 50%, 33%);
  --color-cat-5: hsl(270, 100%, 50%);
  --color-cat-5-t: hsl(270, 50%, 33%);
  --color-cat-6: hsl(210, 100%, 50%);
  --color-cat-6-t: hsl(210, 50%, 33%);
  --color-cat-7: hsl(60, 100%, 50%);
  --color-cat-7-t: hsl(60, 50%, 33%);
  --color-cat-8: hsl(200, 100%, 50%);
  --color-cat-8-t: hsl(200, 50%, 33%);
  --color-cat-9: hsl(300, 100%, 50%);
  --color-cat-9-t: hsl(300, 50%, 33%);



  // Font properties
  --font-family: 'Lato', sans-serif;
  --fontfamily-heads: 'Montserrat', sans-serif;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-32: 32px;
  --font-size-64: 64px;



  --font-weight-light: 100;
  --font-weight-normal: 300;
  --font-weight-bold: 700;

  // Units
  --unit: 6px;
  --space: calc(var(--unit) * 2);
  --margin-bottom: calc(var(--unit) * 3);
  --space-big: calc(var(--unit) * 4);
  --border-radius: 4px;
}
